<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-news-heading" jhiTranslate="housingAssociationVotingPlatformApp.news.home.createOrEditLabel">Create or edit a News</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="housingAssociationVotingPlatformApp.news.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="housingAssociationVotingPlatformApp.news.news" for="field_news">News</label>
                    <input type="text" class="form-control" name="news" id="field_news"
                           formControlName="news"/>
                    <div *ngIf="editForm.get('news')!.invalid && (editForm.get('news')!.dirty || editForm.get('news')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('news')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="housingAssociationVotingPlatformApp.news.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="housingAssociationVotingPlatformApp.news.modificationDate" for="field_modificationDate">Modification Date</label>
                    <div class="d-flex">
                        <input id="field_modificationDate" type="datetime-local" class="form-control" name="modificationDate" formControlName="modificationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="housingAssociationVotingPlatformApp.news.inhabitant" for="field_inhabitant">Inhabitant</label>
                    <select class="form-control" id="field_inhabitant" name="inhabitant" formControlName="inhabitant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inhabitantOption.id === editForm.get('inhabitant')!.value?.id ? editForm.get('inhabitant')!.value : inhabitantOption" *ngFor="let inhabitantOption of inhabitants; trackBy: trackById">{{ inhabitantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
